@font-face {
    font-family: FuturaPTBoldItalic;
    src: url('./fonts/Futura PT Bold Italic W08 Rg.ttf');
}

body {
    font-family: FuturaPTBoldItalic, Arial, Helvetica, sans-serif;
    background-color: #18181B;
    text-transform: uppercase;
    margin: 0;
}

#clip-content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 811px 128px 186px;
}



/* COLUMNS */
#clip-sidebar-empty, #clip-logo {
    grid-column: span 3;
}

#clip-sidebar, #clip-information {
    grid-column: span 9;
}

footer {
    grid-column: span 12;
}



/* ROWS */
#clip-sidebar-empty, #clip-sidebar {
    grid-row: 1;
}

#clip-logo, #clip-information {
    grid-row: 2;
}

footer {
    grid-row: 3;
}



/* TEXT */
#clip-information > h1 {
    font-size: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px 20px 0px 20px;
    color: #FFFFFF;
}

#clip-information > h2 {
    color: #18181B;
    font-size: 32px;
    margin: 0px 20px 0px 20px;
}

footer {
    color: #404043;
    text-align: right;
    font-size: 24px;
    padding-right: 24px;
}

#no-clip-found {
    color: #FFFFFF;
    text-align: center;
}



/* LOGO */
#clip-logo img {
    height: 100%;
    float: right;
    margin-right: 10%;
}



/* CLIPS & NOISE TV SCREEN */
#clip-video, #noise-tv-screen {
    width: 100%;
    height: 100%;
    
}


/* CLIPS INFORMATION */
#clip-information {
    background-color: #56575B;
    flex: 1;
    min-width: 0;
}
